* {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Electrolize', sans-serif;
    background-color: black;
    color: white;
}